@import "../../../../assets/sass/coolors.scss";
@import "../../../../assets/sass/sizes.scss";

.l-header {
    margin: $margin-3;
}

@media (min-width: 1280px) {
    .l-header {
        margin: $margin-5;
    }
}

.l-section-brand-mobile {
    display: flex;
    margin-bottom: $margin-3;

    &__brand {
        width: 87px;
        height: 57px;
    }

    &__title {
        margin-left: $margin-3;
        align-self: center;

        color: $primary-color;
    }
}

.l-section-header {
    &__title {
        color: $color-dark-9;
    }

    &__subtitle {
        font-weight: normal;
        color: $color-dark-7;
    }
}
