<footer class="c-footer-mobile hidden-desktop">
    <button (click)="navigateTo('admin/dashboard')" class="c-footer-mobile__button"
        [class]="{ 'c-footer-mobile__button--active': routerLinkActive('dashboard') }">
        <mat-icon>dashboard</mat-icon>
    </button>
    <button (click)="navigateTo('admin/vehicle')" class="c-footer-mobile__button"
        [class]="{ 'c-footer-mobile__button--active': routerLinkActive('vehicle') }">
        <mat-icon>directions_car</mat-icon>
    </button>
    <button (click)="navigateTo('admin/reports')" class="c-footer-mobile__button"
        [class]="{ 'c-footer-mobile__button--active': routerLinkActive('reports') }">
        <mat-icon>timeline</mat-icon>
    </button>
</footer>