$primary-color: #0e7f61;
$primary-color-80: #0e7f61cc;
$primary-color-10: #0e7f611a;
$primary-color-20: #0e7f6133;
$primary-color--light: #bdd654;
$secondary-color: #bc2f6c;
$secondary-color-20: #bc2f6c33;
$secondary-color-80: #bc2f6ccc;

$color-dark-10: #000000;
$color-dark-10-20: #00000033;
$color-dark-9: #282828;
$color-dark-9-5: #2828280d;
$color-dark-8: #555550;
$color-dark-7: #888888;
$color-dark-6: #a3a3a3;
$color-dark-5: #c0c0c0;

$color-light-10: #ffffff;
$color-light-9: #f7f7f7;
$color-light-8: #ededed;
$color-light-7: #dddddd;

$color-info: #43a4e6;
$color-warning: #facc05;

$shadow-1: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
